<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de usuarios</title>
</head>
<body>
<main layout:fragment="contenido">

    <div sec:authorize="!isAuthenticated()" >
        <div class="d-flex align-items-center justify-content-center">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-text text-center mt-3">Hola, en estos momentos no tienes acceso debe ingresar primero</p>
                    <a th:href="@{/}" class="nav-link active btn btn-primary mt-4">Volver</a>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div th:if="${#strings.toString(employee.getRole())}=='ADMIN'" class="d-flex justify-content-end mt-2 mb-3"> <!-- OJO a las lineas del th:if Asi comparas una variable de una entidad con un string-->
            <a class="btn btn-primary" th:href="@{/employee/nuevo/}">Nuevo <i class="fa fa-edit"></i></a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="employeeDeList : ${listEmployee}">
                <!-- Dibuja columnas por cada campo del Objeto-->
                <td th:text="${employeeDeList.name}"></td>
                <td th:text="${employeeDeList.email}"></td>
                <td th:text="${employeeDeList.profile.phone}"></td>
                <td th:if="${#strings.toString(employee.getRole())}=='ADMIN'">
                    <a class="btn btn-warning m-1" th:href="@{/employee/modificar/{id} (id = ${employeeDeList.id})}">Modificar <i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger m-1" th:href="@{/employee/borrar/{id} (id = ${employeeDeList.id})}">Eliminar <i class="fa fa-edit"></i></a>
                </td>
                <td th:if="${#strings.toString(employee.getRole())}=='OPERARIO'" >Sin permisos administrativos</td>
                </td>
            </tr>

            </tbody>
        </table>
    <div>
</main>

</body>
</html>