<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modificar empresa</title>
</head>
<body>
<section layout:fragment="contenido">

    <div sec:authorize="!isAuthenticated()" >
        <div class="d-flex align-items-center justify-content-center">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-text text-center mt-3">Hola, en estos momentos no tienes acceso debe ingresar primero</p>
                    <a th:href="@{/}" class="nav-link active btn btn-primary mt-4">Volver</a>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">

        <div th:if="${#strings.toString(employeeAuth.getRole())}=='OPERARIO'">
            <div class="d-flex align-items-center justify-content-center">
                <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 20rem;">
                    <div class="card-body">
                        <p class="card-text text-center mt-3">Hola, en estos momentos no tienes acceso para modificar una Empresa</p>
                        <a th:href="@{/enterprise/list}" class="nav-link active btn btn-primary mt-4">Volver</a>
                    </div>
                </div>
            </div>
        </div>


        <div th:if="${#strings.toString(employeeAuth.getRole())}=='ADMIN'">
            <div class="bg-light p-2 shadow p-3 mt-3 mb-3 bg-body rounded row justify-content-center">
                <form class="col-auto" th:action="@{/enterprise/actualizar/{id} (id = ${enterpriseModel.id})}" method="post">
                    <h2 class="mb-4 mt-2">Empresa</h2>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" th:field="${enterpriseModel.name}" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="text" th:field="${enterpriseModel.phone}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Direccion</label>
                        <input type="text" th:field="${enterpriseModel.address}" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3 mb-3">Actualizar</button>
                </form>
            </div>
        </div>

    </div>

</section>

</body>
</html>
</html>